<div class="container-fluid">
  <div class="bg">
    <img src="./assets/top.jpg" alt="Background" class="img-fluid top">
  </div>
  <form>
    <i class="fas fa-user prefix grey-text"></i>
    <div class="md-form input">
      <input type="text" name="userName" [(ngModel)]="userName" class="form-control validate" placeholder="Username">
    </div>
    <button type="submit" name="button" id="send" (click)="getUsers($event); getRepos($event);" class="btn btn-outline-primary waves-effect px-3"><i class="fas fa-search"></i></button>
  </form>
  <div class="card-user">
    <div class="content" *ngFor="let user of users">
      <img src="{{user.avatar_url}}" alt="User-avatar" class="img-fluid the-user">
      <h3 class="the-username">{{user.name}}</h3>
    </div>
    <div class="fabs">
      <div class="fab"></div>
      <i class="avatar zmdi zmdi-account"></i>
    </div>
    <div class="user" *ngFor="let user of users">
      <div class="profiles">
        <div class="profile"><span>Name</span>{{user.login}}</div>
        <div class="profile"><span>Joined on</span>{{user.created_at | date:'shortDate'}}</div>
        <div class="profile"><span><i class="fas fa-users"> Followers</i></span>{{user.followers}}</div>
        <div class="profile"><span><i class="fas fa-user-friends"> Following</i></span>{{user.following}}</div>
        <div class="profile"><span><i class="fas fa-folder-open"></i></span>{{user.public_repos}}</div>
        <div class="profile"><span>Github</span><a class="git" href="{{user.html_url}}" target="_blank"><i class="fas fa-angle-double-right animated wobble infinite"></i></a></div>
      </div>
    </div>
  </div>
  <div class="card-columns">
    <div class="card" *ngFor="let repo of repos">
      <h3 class="card-header primary-color white-text text-uppercase font-weight-bold text-center py-5">{{repo.name}}</h3>
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">{{repo.description}}</li>
          <li class="list-group-item d-flex justify-content-between align-items-center"><i class="far fa-star"> Starred: </i><span class="badge badge-primary badge-pill">{{repo.stargazers_count}}</span></li>

          <li class="list-group-item d-flex justify-content-between align-items-center"><i class="far fa-clock"> Last Updated:</i> {{repo.updated_at | date:'mediumDate'}}</li>
          <li class="list-group-item d-flex justify-content-between align-items-center"> Checkout on github: <a href="{{repo.html_url}}" target="_blank" class="btn tbn-md btn-dark"><i class="fas fa-shoe-prints"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>