<div class="container-fluid">
  <div class="about-top">
    <h2>Welcome to Git-Search</h2>
    <p>Find whoever you want on Github</p>
  </div>
  <div class="process">
    <h3>How it works</h3>
    <div class="row">
      <div class="col-md-4">
        <i class="fas fa-search"></i><br>
        <p>Search for any user on github</p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-id-card"></i><br>
        <p>View the user's details</p>
      </div>
      <div class="col-md-4">
        <i class="fab fa-github" id="git"></i><br>
        <p>Check out the user's repos on github</p>
      </div>
    </div>
  </div>


  <h3>Meet the maker</h3>
  <div class="col-lg-7">
    <div class="card">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="./assets/me.jpg" class="card-img img-fluid" alt="Me">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Nathan Ng'ethe</h5>
            <p class="card-text myself">I am currently a student at Moringa school learning to write my first lines of code.<br> I try as much as possible to make sense out of the code I write thus making coding look as easy as ABC, but don't be
              fooled, it's tough.<br> And along the
              way, my
              motto is always 'Make the money don't let the money make you' ~ Macklemore</p>
            <p class="card-text"><small class="text-muted"><a href="#"><i class="fab fa-github"></i></a><a href="#"><i class="fab fa-twitter"></i></a><a href="#"><i class="fas fa-envelope"></i></a></small></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>