* {
  text-align: center;
}

.about-top {
  width: 100%;
  height: 100vh;
  background-color: lightgrey;
}

.about-top h2 {
  padding-top: 13%;
}

.col-lg-7 {
  margin: auto;
  padding-bottom: 10%;
}

h3 {
  margin-bottom: 2%;
}

.process {
  margin-top: 5%;
  margin-bottom: 7%;
}

.myself {
  text-align: left;
  line-height: 1.6rem;
}

h5 {
  font-weight: bold;
}

i {
  padding: 5%;
  font-size: 26px;
}

.fa-twitter:hover {
  color: #00aced;
}

.fa-twitter {
  color: #1dcaff;
}

.fa-github:hover {
  color: #333;
}

.fa-github {
  color: #808080;
}

#git {
  color: #333;
}

.fa-envelope {
  color: #ffff00;
}

.fa-envelope:hover {
  color: #f9d71c;
}